// Color Scheme
$lblue: #8ACBFF;
$blue: #1DA4FF;
$grey: #545454;

$forground: $grey;
$background: $lblue;
$background: #eee;

// Mixins
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

// Top Level Elements
body {
  color: $forground;
  //background: $background;
  font-size: 17px;
  // Thanks to subtlepatterns.com
  background-image: url(/p6.png); background-size: 8px; background-position: initial initial; background-repeat: initial initial;
  //background-image: url(/p6_@2X.png); background-size: 8px; background-position: initial initial; background-repeat: initial initial;
}

h1 {
  font-size: 72px;
  color: white;
}

hr {
  background-color: darken($background, 10%);
  color: darken($background, 10%);
  border: 0;
  height: 1px;
  width: 100%;
}

// Specific Section Styles

.header-row {
  //@include gradient($blue, $lblue);
  border-bottom: 1px solid darken($background, 10%);
  color:$forground;
  text-align: center;
  width:100%;
  .epic {
    color: white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
}
.section {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-top:30px;
  width:600px;
  .action {
    margin-left:450px;
  }
  .callout {
    background-color: darken($background, 5%);
    padding: 20px;
    margin: 10px;
    border-radius:8px;
    img {
      margin-left: 145px;
      margin-bottom: 10px;
    }
    textarea {
      background: darken($background, 0%);
      border: thin solid $background;
      font-size: 14px;
      padding: 20px 10px 10px;
      text-align: center;
      width: 100%;
      height: 80px;
      margin: 10px 0 0 0;
    }

  }
  .example {
    img {
      float:left;
      padding: 20px;
      width:250px;
    }
    p {
      float:right;
      padding-top:20px;
      width:290px;
    }
  }
}

.footer {
  color: darken($background, 20%);
  padding: 2em;
  text-align: center;
  font-size: 10px;
  a {
  color: darken($background, 20%);
}
}

i.icon-pair {
  font-family: pairwithmeregular;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
}
i.icon-pair:before {
  content: "p";
}
h1.epic {
  i.icon-pair:before {
    font-size:95px;
  }
}
